@charset "UTF-8";
/* reset CSS */
*{
	margin:0;
	padding:0;
}
body{
	font-size:12pt;
	color:#444444;
	font-family:맑은 고딕;
}
table{
	max-width:600px;
	width:100%;
	border-collapse:collapse;
}

a{
	text-decoration:none;
	color:#aaa;
}

th, td{
	border:1px solid #cccccc;
	padding:3px;
	line-height:2.0;
}
th{
	background-color:#eeeeee;
}
input{
	font-size: 15px;
}
input[type=text] {
	border: 0;
	width:60%;
  	outline: none;
}
input[type=password] {
	border: 0;
	width:60%;
  	outline: none;
}
main .membercontainer{
	width:100%;
}
main .membercontainer .form_container{
	max-width:600px;
	width:100%;
	margin:0 auto;
}

main .membercontainer .form_container #frm table caption{
	margin-top:10px;
	margin-bottom:5px;
	font-size:20pt;
	font-weight:bold;
}
main .membercontainer .form_container #frm .btn{
	text-align:right;
	margin-top:5px;
}